/.bundle/
/pkg/
/spec/dummy/db/*.sqlite3
/spec/dummy/log/*.log
/spec/dummy/tmp/
/Gemfile.lock
*.gem
.byebug_history
log/
app/assets/tailwind/untitled_ui_components
app/assets/tailwind/untitled_ui_views
app/assets/tailwind/untitled_ui/untitled_ui
